# Virtual Environment & Package Managers
.venv/
env/
venv/
node_modules/
**/node_modules/
dist/
**/dist/
.astro/
.cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
.env.local
*.local

# Database & SQLite files
data/
*.sqlite
*.sqlite3
*.db

# Testing & Coverage
.pytest_cache/
.coverage
